@font-face {
    font-family: "Montserrat";
    src: url(../../public/assets/fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat-bold";
    src: url(../../public/assets/fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Fraunces";
    src: url(../../public/assets/fonts/Fraunces_72pt-Bold.ttf);
    font-weight: 700;
}

.root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}


